.button
      border-radius: 5px
      border: 1px solid transparent
      padding: 1em 1.2em
      font-size: 1em
      font-weight: 500
      font-family: inherit
      background-color: $lightBlue
      cursor: pointer
      transition: border-color 0.25s
      width: 100%
      &:hover
            scale: 1.03
            transition: all .3s ease-in-out
.smaller_button
            padding: 0.8em 1em
.status_button
      border: none
      border-radius: 20px
      padding: 7px 20px
      // cursor: pointer
.active
      color: $green
      background: rgba($green,0.2 )
.inactive
      color: $lightGray
      background: rgba($lightGray,0.2)
.blacklisted
      color: $red
      background: rgba($red,0.2)
.pending
      color: $orange
      background: rgba($orange,0.2)
