.layout_container .main_content_container {
  margin-left: 320px;
  margin-top: 100px;
}
@media screen and (max-width: 800px) {
  .layout_container .main_content_container {
    margin-left: 100px;
  }
}
.layout_container .navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 15px 25px;
  background: #ffffff;
  box-shadow: rgba(33, 63, 125, 0.06) 0px 7px 29px 0px;
  z-index: 10;
}
.layout_container .navbar_container .search_input {
  width: 100%;
  max-width: 500px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .layout_container .navbar_container .search_input {
    max-width: 350px;
  }
}
@media screen and (max-width: 640px) {
  .layout_container .navbar_container .search_input {
    max-width: 250px;
  }
}
@media screen and (max-width: 540px) {
  .layout_container .navbar_container .search_input {
    display: none;
  }
}
.layout_container .navbar_container .search_input .input {
  padding: 0px;
}
.layout_container .navbar_container .search_input .input input {
  padding: 15px;
}
.layout_container .navbar_container .search_input .icon {
  background: #39CDCC;
  color: white;
  width: 60px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.layout_container .navbar_container .search_input .icon svg {
  font-size: 25px;
  text-align: center;
  margin: auto;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
}
.layout_container .navbar_container .user_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
}
.layout_container .navbar_container .user_profile svg {
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .layout_container .navbar_container .desktop {
    display: none;
  }
}
.layout_container .navbar_container .desktop span {
  text-decoration: underline;
  cursor: pointer;
}
.layout_container .navbar_container .desktop .user_profile_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.layout_container .navbar_container .mobile {
  display: none;
  align-items: center;
  position: relative;
  display: none;
}
.layout_container .navbar_container .mobile .profile_arrow {
  margin-left: 5px;
}
.layout_container .navbar_container .mobile .mobile_user_profile {
  position: absolute;
  top: 40px;
  right: -5px;
  background: white;
  box-shadow: rgba(33, 63, 125, 0.06) 0px 7px 29px 0px;
  padding: 10px;
  width: 140px;
}
.layout_container .navbar_container .mobile .mobile_user_profile span {
  padding-bottom: 10px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .layout_container .navbar_container .mobile {
    display: flex;
  }
}
.layout_container .sidebar-container {
  background: white;
  width: 300px;
  box-shadow: rgba(33, 63, 125, 0.06) 0px 7px 29px 0px;
  height: 100vh;
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 100px;
  position: fixed;
  overflow: scroll;
  top: 0px;
  min-height: 100%;
}
@media screen and (max-width: 800px) {
  .layout_container .sidebar-container {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.layout_container .sidebar-container .organization {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .layout_container .sidebar-container .organization {
    padding-right: 30px;
  }
  .layout_container .sidebar-container .organization .name {
    display: none;
  }
  .layout_container .sidebar-container .organization img {
    width: 30px;
  }
}
.layout_container .sidebar-container .organization:hover {
  background: rgba(57, 205, 204, 0.3);
  border-left: 4px solid #39CDCC;
}
.layout_container .sidebar-container .organization span {
  padding-right: 10px;
  padding-left: 20px;
}
.layout_container .sidebar-container .active_link {
  background: rgba(57, 205, 204, 0.3);
  border-left: 4px solid #39CDCC;
}
.layout_container .sidebar-container .segments .side_headers {
  font-size: 12px;
  padding-top: 15px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .layout_container .sidebar-container .segments .side_headers {
    display: none;
  }
}
.layout_container .sidebar-container .segments .customers {
  padding-top: 5px;
}

.detail_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  background: #ffffff;
  box-shadow: rgba(33, 63, 125, 0.06) 0px 7px 29px 0px;
  max-width: 240px;
  padding: 20px 40px;
  height: 150px;
}

.table-div {
  background-color: white;
  border: 1px solid rgba(57, 205, 204, 0.06);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  overflow: scroll;
  padding: 15px;
}
.table-div table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 760px;
  border-spacing: 20px;
}
.table-div table th, .table-div table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 10px;
}
.table-div table thead {
  text-align: left;
}
.table-div table thead tr {
  font-size: 11px;
}
.table-div table thead tr th {
  cursor: pointer;
}
.table-div table thead tr th:last-child {
  width: 40px;
}
.table-div table thead tr th .header {
  display: flex;
  align-items: center;
}
.table-div table thead tr th .header span {
  margin-left: 5px;
}
.table-div table tbody {
  text-align: left;
  z-index: 1;
}
.table-div table tbody tr:not(:last-child) {
  border-bottom: 2px solid rgba(33, 63, 125, 0.1);
}
.table-div table tbody tr td {
  width: auto;
  position: relative;
}
.table-div table tbody tr td .popup-action {
  position: relative;
  cursor: pointer;
}
.table-div table tbody tr td .popup-action .popup {
  background-color: white;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  width: 200px;
  padding: 10px 20px;
  color: #213F7D;
  border-radius: 5px;
  position: absolute;
  right: -20px;
  top: 20px;
  z-index: 2;
}
.table-div table tbody tr td .popup-action .popup p {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.table-div table tbody tr td .popup-action .popup p svg {
  margin-right: 8px;
}
.table-div .pagination {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .table-div .pagination {
    flex-direction: column;
  }
}
.table-div .pagination .pageIndex {
  display: flex;
  align-items: center;
}
.table-div .pagination .pageIndex button.pagesArr {
  outline: none;
  border: none;
  margin: 0px 5px;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  color: rgba(33, 63, 125, 0.6);
}
.table-div .pagination .pageIndex button.next,
.table-div .pagination .pageIndex button.prev {
  border: none;
  background-color: rgba(33, 63, 125, 0.2);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 0px 10px;
  cursor: pointer;
}
.table-div .pagination .pageIndex button.next svg,
.table-div .pagination .pageIndex button.prev svg {
  color: #213F7D;
}

.filter-wrapper .filter-div .select-div p {
  padding-bottom: 5px;
  padding-top: 5px;
}

.user_details_container .section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.user_details_container .section:not(:last-child) {
  border-bottom: 2px solid rgba(33, 63, 125, 0.2);
}
.user_details_container .section .section_header {
  color: #213F7D;
  font-weight: 500;
}
.user_details_container .section p {
  margin-bottom: 10px;
  margin-top: 10px;
}
.user_details_container .section p,
.user_details_container .section .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: start;
  gap: 10px 40px;
  flex-wrap: wrap;
  padding: 5px 20px;
  word-break: break-word;
  color: #545F7D;
}
.user_details_container .section p p,
.user_details_container .section .details p {
  padding: 5px 0px;
  margin: 0px;
}
.user_details_container .section p .header,
.user_details_container .section .details .header {
  font-size: 12px;
}

.detail_card_collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .detail_card_collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (max-width: 500px) {
  .detail_card_collection {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }
}

.table_wrapper {
  padding-top: 50px;
  position: relative;
}
.table_wrapper .filter_wrapper {
  position: absolute;
  top: 60px;
  margin-top: 40px;
  left: 30px;
  width: 300px;
  background: #ffffff;
  padding: 30px 15px;
  box-shadow: rgba(33, 63, 125, 0.06) 0px 7px 29px 0px;
}
.table_wrapper .filter_wrapper .input input {
  padding: 15px;
}
.table_wrapper .filter_wrapper .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}
.table_wrapper .filter_wrapper .buttons div {
  width: 100%;
}

.user_page_wrapper {
  padding: 20px 40px;
}
@media screen and (max-width: 420px) {
  .user_page_wrapper {
    padding: 20px 10px;
  }
}
.user_page_wrapper p {
  display: flex;
  align-items: center;
}
.user_page_wrapper p span {
  padding-left: 14px;
}
.user_page_wrapper .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
}
@media screen and (max-width: 650px) {
  .user_page_wrapper .title {
    flex-direction: column;
    align-items: start;
    padding-top: 10px;
  }
}
.user_page_wrapper .title .action_buttons {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 650px) {
  .user_page_wrapper .title .action_buttons {
    margin-top: 10px;
  }
}
.user_page_wrapper .title .action_buttons button {
  padding: 10px;
  background: transparent;
  font-size: 14px;
}
.user_page_wrapper .title .action_buttons button:first-child {
  border: 2px solid #39CDCC;
  color: #39CDCC;
}
@media screen and (max-width: 420px) {
  .user_page_wrapper .title .action_buttons button {
    padding: 5px;
    font-size: 12px;
  }
}
.user_page_wrapper .user_details_tab {
  background: white;
  padding: 40px;
  padding-bottom: 0px;
  box-shadow: rgba(33, 63, 125, 0.06) 0px 7px 29px 0px;
  overflow: hidden;
}
@media screen and (max-width: 420px) {
  .user_page_wrapper .user_details_tab {
    padding: 20px 10px;
  }
}
.user_page_wrapper .user_details_tab .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1050px) {
  .user_page_wrapper .user_details_tab .section {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
}
.user_page_wrapper .user_details_tab .section .details {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 420px) {
  .user_page_wrapper .user_details_tab .section .details img {
    width: 50px;
  }
}
.user_page_wrapper .user_details_tab .section .details div {
  padding-left: 30px;
}
@media screen and (max-width: 1050px) {
  .user_page_wrapper .user_details_tab .section .details div {
    padding-left: 10px;
  }
}
.user_page_wrapper .user_details_tab .section .tier {
  position: relative;
}
.user_page_wrapper .user_details_tab .section .tier:after, .user_page_wrapper .user_details_tab .section .tier:before {
  width: 1px;
  height: 80px;
  background-color: rgba(33, 63, 125, 0.2);
  display: block;
  content: "";
  position: absolute;
  top: -20px;
}
.user_page_wrapper .user_details_tab .section .tier:after {
  left: -35px;
}
.user_page_wrapper .user_details_tab .section .tier:before {
  right: -35px;
}
@media screen and (max-width: 1120px) {
  .user_page_wrapper .user_details_tab .section .tier:after {
    left: -15px;
  }
  .user_page_wrapper .user_details_tab .section .tier:before {
    right: -15px;
  }
}
@media screen and (max-width: 1050px) {
  .user_page_wrapper .user_details_tab .section .tier:after, .user_page_wrapper .user_details_tab .section .tier:before {
    display: none;
  }
}
.user_page_wrapper .user_details_tab .section .tier .rating svg {
  color: #E9B200;
}
.user_page_wrapper .user_details_tab .tab_header_wrapper {
  overflow: auto;
}
.user_page_wrapper .user_details_tab .tab_header_wrapper .tab_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 600px;
  color: black;
}
.user_page_wrapper .user_details_tab .tab_header_wrapper .tab_header p {
  padding-bottom: 10px;
  text-align: center;
  width: 180px;
  display: inline;
  cursor: pointer;
}
.user_page_wrapper .user_details_tab .tab_header_wrapper .tab_header .active_tab {
  color: #39CDCC;
  border-bottom: 2px solid #39CDCC;
}
.user_page_wrapper .tab-content-wrapper {
  background: #ffffff;
  box-shadow: rgba(33, 63, 125, 0.06) 0px 7px 29px 0px;
  margin-top: 40px;
}
@media screen and (max-width: 420px) {
  .user_page_wrapper .tab-content-wrapper {
    margin-top: 10px;
  }
}

.small-font {
  font-size: 12px;
}

.mid-font {
  font-size: 13px;
}

.medium-font {
  font-size: 16px;
}

.large-font {
  font-size: 22px;
}

.capitalize {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.no-data-padding {
  padding: 30px;
}

.absolute {
  position: absolute;
  top: 50px;
  left: 50px;
}

.button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #39CDCC;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}
.button:hover {
  scale: 1.03;
  transition: all 0.3s ease-in-out;
}

.smaller_button {
  padding: 0.8em 1em;
}

.status_button {
  border: none;
  border-radius: 20px;
  padding: 7px 20px;
}

.active {
  color: #39CD62;
  background: rgba(57, 205, 98, 0.2);
}

.inactive {
  color: #545F7D;
  background: rgba(84, 95, 125, 0.2);
}

.blacklisted {
  color: #E4033B;
  background: rgba(228, 3, 59, 0.2);
}

.pending {
  color: #E9B200;
  background: rgba(233, 178, 0, 0.2);
}

.select-wrapper {
  display: flex;
  align-items: center;
}
.select-wrapper .select-page {
  position: relative;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px 8px;
  width: 70px;
}
.select-wrapper .select-page select {
  outline: none;
  background-color: rgba(33, 63, 125, 0.2);
  color: #213F7D;
  border: none;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
}
.select-wrapper .select-page:after {
  content: "";
  background: url("/arrow_down.svg") no-repeat right center;
  background-size: 15px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
  pointer-events: none;
}
.select-wrapper .select_form {
  width: 100%;
  margin: 0px 0px;
  width: 100%;
}
.select-wrapper .select_form select {
  border: 2px solid rgba(84, 95, 125, 0.15);
  background: #ffffff;
  padding: 15px;
  width: 100%;
}
.select-wrapper .select_form:after {
  top: 15px;
  right: 20px;
}/*# sourceMappingURL=main.css.map */